.building {
  padding-top: 120px;
  padding-bottom: 50px;
  background-color: #1C1E53;
}
.building .building__container-lg {
  display: flex;
  gap: 10px;
}
.building .building__text {
  color: #fff;
}
.building .building__text h1 {
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
}
.building .building__text button {
  background-color: transparent;
  border: none;
  color: #fff;
}
.building .building__text .btn {
  color: #000000;
  border-radius: 41px;
  background: #FCD980;
  padding: 16px 26px;
}
.building .building__img img {
  width: 700px;
}

.solves {
  padding-top: 90px;
  background-color: rgb(244, 246, 252);
}
.solves__cart {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.projeckt {
  padding-top: 60px;
  padding-bottom: 128px;
}
.projeckt__titule {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projeckt__titule h2 {
  font-size: 48px;
  color: #282938;
}
.projeckt__titule a {
  text-decoration: none;
  color: #282938;
  font-size: 16px;
}
.projeckt__img {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 45px;
}
.projeckt__img .card-img {
  display: grid;
  grid-template-rows: 1fr;
  gap: 24px;
}