.heder{
  background-color: #1C1E53;
  .nav_bar{
    display:none;
    @media(max-width: 900px){
      .nav_bar{
        display: block ;
      }
    }
    
  }
 
}

.building{
  padding-top: 120px;
  padding-bottom: 50px;
  background-color: #1C1E53;
  .building__container-lg{
    display: flex;
    gap: 10px;

  }
  .building__text{
    color: #fff;
    h1{
      font-size: 54px;
      font-style: normal;
      font-weight: 600;
    }
    button{
      background-color: transparent;
      border: none;
      color: #fff;
    }
    .btn{
      color: #000000;
      border-radius: 41px;
      background: #FCD980;
      padding: 16px 26px;
    }
  }
  .building__img{
    
    img{
      width: 700px;
    }
  }
}
.solves{
  padding-top: 128px;
  padding-bottom: 128px;
  background-color: rgba(244, 246, 252, 1) ;

  .solves__titule{
    h2{
      color: #282938;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 600;
    }
  }
  &__cart{
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  }

}
.projeckt{
  padding-top: 60px;
  padding-bottom: 128px;
  &__titule{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    h2{
      font-size: 48px;
      color:#282938 ;
    }
    a{
      text-decoration: none;
      color: #282938;
      font-size: 16px;
    }
  }
  &__img  {
     margin-top: 70px;
      display: flex;
      justify-content: center;
      gap: 45px;
    .card-img{
      display: grid;
      grid-template-rows: 1fr;
      gap: 24px;
    }
  }
}

.clients{
  padding-top:128px ;
  margin-bottom: 128px;
  .clients__container-sm {
  gap: 110px;
  display: flex;
  justify-content: center;
  .clients__right{
    width:327px;
    color:#282938 ;
    font-style: normal;
    font-weight: 600;
  }
  .clients__left{
    p{
      font-size: 32px;
      color: #282938;
    }
    .leftdiv{
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  }
  
}

}
